# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# other stuff
/bin
**/build/
.checkstyle
.classpath
.project
monitor.command
.settings
hs_err*
cmd_*
*.DS_Store
log.txt
.idea
.gradle
*.swp
*.iml
dxram.iml
.dxram_term_hist
out/*
/tmp/
/app/
/util/statistics.pdf
/stats/
dxram/out
